@import "./layout.scss";
@import "@angular/material/theming";

@include mat-core();

$project-light-primary: mat-palette($mat-grey, 100, 100 ,900);
$project-dark-primary: mat-palette($mat-grey, 900, 100 ,900);

$project-light-accent: mat-palette($mat-grey, 900, 100 ,900);
$project-dark-accent: mat-palette($mat-grey, 100, 100 ,900);

$project-light-warn: mat-palette($mat-red, 100, 100 ,900);
$project-dark-warn: mat-palette($mat-red, 900, 100 ,900);

$project-light-theme: mat-light-theme(
  $project-light-primary,
  $project-light-accent,
  $project-light-warn
);

$project-dark-theme: mat-dark-theme(
  $project-dark-primary,
  $project-dark-accent,
  $project-dark-warn
);

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.project-light-theme {
  @include angular-material-theme($project-light-theme);

  .text-primary {
    color: mat-color($project-light-primary) !important;
  }

  .text-accent {
    color: mat-color($project-light-accent) !important;
  }

  .text-warn {
    color: mat-color($project-light-warn) !important;
  }
}

.project-dark-theme {
  @include angular-material-theme($project-dark-theme);

  .text-primary {
    color: mat-color($project-dark-primary) !important;
  }

  .text-accent {
    color: mat-color($project-dark-accent) !important;
  }

  .text-warn {
    color: mat-color($project-dark-warn) !important;
  }
}
