<div  class="loading-container">
  <div class="loading-circle-container">
    <div class="loading-circle1-wrapper loading-circle-position">
        <div class="loading-circle1"></div>
    </div>

    <div class="loading-circle2-wrapper loading-circle-position">
        <div class="loading-circle2"></div>
    </div>

    <div class="loading-circle3-wrapper loading-circle-position">
        <div class="loading-circle3">
            <div class="yin-yang"></div>
        </div>
    </div>
  </div>
</div>
