<div class="clearfix">
  <div class="col-11 mx-auto">
    <div class="clearfix">
      <div
        class="sm-col sm-col-12 md-col-3 lg-col pt2 sticky"
        style="top: 4.5rem"
      >
        <!-- <mat-card></mat-card> -->
      </div>

      <div class="sm-col sm-col-12 md-col-6 lg-col pt2">
        <app-post></app-post>
      </div>

      <div
        class="sm-col sm-col-12 md-col-3 lg-col py2 sticky"
        style="top: 4.5rem"
      >
        <!-- <mat-card></mat-card> -->
      </div>
    </div>
  </div>
</div>

<!-- <button (click)="two()">two</button>
<button (click)="zero()">zero</button>

<form [formGroup]="form">
  <app-ccy-amt-input formControlName="ccy" [decimalPlace]="decimalPlace" [minAmt]="5" [maxAmt]="10000"></app-ccy-amt-input>
  <button (click)="submit()">Submit</button>
  <button (click)="empty()">Empty</button>
  <br>
  <button (click)="increase()">Increase</button>
  <button (click)="decrease()">Decrease</button>
</form> -->

<!-- <app-only-day-picker [title]="'每月扣款日期'" [pickMode]="'multi'" [dayLimit]="12"></app-only-day-picker> -->

<!-- <app-circle-counter
  style="margin-right: auto; width: 100%"
  [timeLimit]="10"
  [timerSize]="40"
  [color]="'#F04553'"
  [sideNote]="'剩餘時間'"
  [restartName]="'重新試算'"
  [switcher]="timerSwitcher$"
  (tick)="onTimeCheck($event)"
  (restart)="onResetTimer()"
>
</app-circle-counter> -->
