<header>
  <nav class="sticky top-0 left-0 right-0 z2">
    <mat-toolbar class="justify-between">
      <a class="h1 bold text-decoration-none text-accent" routerLink="home">
        Edward Y. Rogers
      </a>
  
      <div>
        <a mat-icon-button routerLink="home">
          <mat-icon>home</mat-icon>
        </a>
  
        <a mat-icon-button routerLink="attempts">
          <mat-icon>gamepad</mat-icon>
        </a>
        
        <ng-container *ngIf="currentTheme$ | async as theme">
          <button mat-icon-button [matMenuTriggerFor]="modeMenu">
            <mat-icon>lightbulb</mat-icon>
          </button>
    
          <mat-menu #modeMenu>
            <button  mat-menu-item (click)="onThemeSwitch(theme)">
              <mat-icon>{{ THEME_OPTIONS[theme].icon }}</mat-icon>
              <span>{{ THEME_OPTIONS[theme].label }}</span>
            </button>
          </mat-menu>
        </ng-container>
      </div>
    </mat-toolbar>
  </nav>
</header>

<main>
  <section>
    <div class="clearfix">
      <div class="col-11 mx-auto">
        <div class="clearfix">
          <div class="sm-col sm-col-12 md-col-3 lg-col py2 sticky" style="top: 4.5rem">
            <mat-card></mat-card>
          </div>

          <div class="sm-col sm-col-12 md-col-6 lg-col py2"></div>

          <div class="sm-col sm-col-12 md-col-3 lg-col py2 sticky" style="top: 4.5rem">
            <mat-card></mat-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer></footer>