<header class="position-fixed top-0 start-0 end-0">
  <mat-toolbar class="py-4">
    <mat-toolbar-row class="justify-content-between">
      <div>
        <span class="cursor-default text-accent">
          Edward Y. Rogers
        </span>
      </div>
  
      <div>
        <span class="mx-3 cursor-pointer text-accent" (click)="onScrollToSection(top)">Home</span>
        <span class="mx-3 cursor-pointer text-accent" (click)="onScrollToSection(featured)">Featured</span>
        <span class="mx-3 cursor-pointer text-accent" (click)="onScrollToSection(projects)">Projects</span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main>
  <ng-container *ngIf="currentTheme$ | async as theme">
    <button mat-icon-button class="position-absolute bg-accent text-primary" style="bottom: 5%; right: 5%;" [matMenuTriggerFor]="modeMenu">
      <mat-icon calss="text-primary">lightbulb</mat-icon>
    </button>

    <mat-menu #modeMenu>
      <button mat-menu-item (click)="onThemeSwitch(theme)">
        <mat-icon>{{ THEME_OPTIONS[theme].icon }}</mat-icon>
        <span>{{ THEME_OPTIONS[theme].label }}</span>
      </button>
    </mat-menu>
  </ng-container>

  <div #test class="d-flex vw-100 vh-100" style="overflow:scroll;" (wheel)="onScroll($event)">
    <section #top class="min-vw-100 bg-primary">
      <!-- <p class="h1">Home</p> -->
    </section>
  
    <section #featured class="min-vw-100 bg-secondary">
      <!-- <p class="h1">Featured</p> -->
    </section>
  
    <section #projects class="min-vw-100 bg-tertiary">
      <!-- <p class="h1">Projects</p> -->
    </section>
  </div>
</main>

<footer></footer>